body {
    min-width: 1200px;
    background-color: #eeeff1;
}
body {
    font-family: 'Hiragino Sans GB','Microsoft YaHei','黑体',sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
}
body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
user agent stylesheetbody {
    display: block;
    margin: 8px;
}
Pseudo ::before element
:after, :before {
    box-sizing: border-box;
}
body>header .location {
    position: relative;
    height: auto;
}
body .ui-page>.container, body .ui-page>header .location, body .ui-page>header .toolbar, body>.container, body>header .location, body>header .toolbar {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
body>header>div:first-child {
    background: #fff;
}
div{
    margin:10px 10px 10px 10px;

}
ul,li{
    margin:10px;
    padding:0
    list-style:none;
}
.login{
    font-size:20px;

}
form {
    display: block;
    margin-top: 0em;
}
form.search{

}
.head-search {
    position: absolute;
    top: 50px;
    left: 300px;
}
.search .search-query {
    float: left;
    padding: 0 15px;
    margin: 0;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    border: 1px solid #f46;
    width: 480px;
}
.search .frontpage-search-trigger {
    float: left;
    border: 0;
    padding: 0;
    margin: 0 0 0 -1px;
    height: 45px;
    background: #f46;
    width: 60px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #fff;
    font-size: 18px;
}

.pull-right {
    width: 180px;
    text-align: center;
    float: right;
    position: absolute;
    top: 50px;
    left: 1000px;

}
* {
    box-sizing: border-box;
}
body>header .location a.post {

    border: 1px solid #f46;
    background-color: #f46;
    color: #fff;
    border-radius: 2px;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    height: 36px;
    line-height: 34px;
    padding: 0 2em;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
a {
    color: inherit;
    text-decoration: none;
}
body>header .location a.post {
    height: 45px;
    line-height: 42px;
    padding: 0 2.75em;
    top: 50px;
    left: 300px;
}
body>header .location a.post {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 180px;
}
.home-row{
    position: absolute;
    top:150px;
    left:100px;
    width:1220px;
    height:502px;
}
.home-col-1 {
    width: 20%;
}
.home-col-1, .home-col-2, .home-col-3, .home-col-4, .home-col-5 {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    float: left;
}
div {
    display: block;
}
.category-cheliang .home-box, .category-ershou .home-box, .category-gongzuo .home-box, .category-special .home-box {
    height: 502px;
}
.home-box {
    border: 1px solid #dedede;
    background: #fff;
}
[class*=" icon-"]:before, [class^=icon-]:before {
    font-family: baicons2!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.category-ershou header {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAABkCAMAAABHEKcjAAAAPFBMV…KETWn1m3v0q0FEz36Apdy130LiKKivdvQVmTua6y8u+uAHUsgiovnN7MgAAAAASUVORK5CYII=) center center no-repeat #fa8686;
}
.category-col header {
    height: 100px;
    background: #cccccc;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.category-col .links a {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    color: #333;
    padding-left: 10px;
    white-space: nowrap;
}
a {
    color: inherit;
    text-decoration: none;
}