body {
font-family: 'Hiragino Sans GB','Microsoft YaHei','黑体',sans-serif;
font-size: 14px;
line-height: 1.428571429;
color: #333;
min-width: 1200px;
background-color: #eeeff1;
margin:0;
display:block;
}
.list-ad-items a.media-cap>img, .mkt-list-ad-items a.media-cap>img {
width: 150px;
}

img {
border: 0;
vertical-align: middle;
}

#image{
	width: 200px;
	height: 200px;
}

.list-ad-items, .mkt-list-ad-items {
padding: 0;
}

.list-ad-items>li, .mkt-list-ad-items>li {
padding: 20px 1.5em;
border-bottom: 1px dotted #cdcdcd;
-webkit-transition: background-color .271s ease;
transition: background-color .271s ease;
position: relative;
}

li, p, ul {
padding: 0;
margin: 0;
}
li {
display: list-item;
text-align: -webkit-match-parent;
}

.list-ad-items .media-body-title>a, .mkt-list-ad-items .media-body-title>a {
vertical-align: middle;
font-weight: 700;
margin-right: .2em;
}
a {
color: inherit;
text-decoration: none;
}
a:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}

.list-ad-items .media-body-title, .mkt-list-ad-items .media-body-title {
font-size: 18px;
line-height: 24px;
}

#listing-fixed-filters, .list-ad-items, .listing-viewtype-switch, .mkt-list-ad-items, .sidebar-filter, .table-view, .waterfall-glist>.waterdrop, form#listing-filters {
border: 1px solid #ddd;
border-radius: 2px;
background: #fff;
}

ul {
list-style: none;
padding: 0;
}

ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
a.ad-title{
	weith:339px;
	height:25px;
	text-decoration:none
}

.list-ad-items .media-body, .mkt-list-ad-items .media-body {
overflow: hidden;
}

div {
display: block;
}

body>.container {
border-bottom: 1px solid #d1d1d1;
padding-bottom: 1em;
}

body .ui-page>.container, body .ui-page>header .location, body .ui-page>header .toolbar, body>.container, body>header .location, body>header .toolbar {
max-width: 1200px;
margin-left: auto;
margin-right: auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
display: block;
}

body .ui-page>.container:after, body .ui-page>.container:before, body>.container:after, body>.container:before {
content: " ";
display: table;
}

body .ui-page>.container:after, body>.container:after {
clear: both;
}

body .ui-page>.container:after, body .ui-page>.container:before, body>.container:after, body>.container:before {
content: " ";
display: table;
}